<h1>Individual Banknotes</h1>

<form action="/notes/search" method="get">
  <input name="q" value="<%=h params[:q] %>">
  <input type="submit" value="Search &raquo;">
</form>

<%= render :partial => 'browse', :locals => { :notes => @notes }%>