<h2>Master Banknotes</h2>

<form action="/masters/search" method="get">
  <input name="q" value="<%=h params[:q] %>">
  <input type="submit" value="Search &raquo;">
</form>

<%= render :partial => 'browse', :locals => { :masters => @masters } %>

